.root {
  // margin-bottom: 12px;

  padding-top: 32px;
}

.root :global {
  .ant-tabs-bar {
    margin-bottom: 0;
    background-color: #eee;
  }

  .ant-tabs-tab {
    padding-left: 22px !important;
    margin-right: 0 !important;
    font-weight: 700;
    font-size: 14px;
    padding: 14px;

    &.ant-tabs-tab-active {
      font-weight: 700;
    }

    .anticon-cross {
      margin-left: 4px;
    }
  }
}

.empty {
  text-align: center;
  padding: 42px 0;
  font-size: 14px;
}

.navs {
  font-weight: 700;
}
