.root {
  overflow-x: hidden;
  min-height: 100vh;
}

.header {
  height: 46px;
  padding: 0 16px;
}

.content {
  padding: 24px;
  margin: 0;
  min-height: 280px;
  background-color: #fff;
  flex: 1
}

.sider {
  width: 190px !important;
  background: #f8f8f8;
  border-right: 1px solid #ccc;
}

.siderMenu {
  height: 100%;
  border-right: 0;
  background-color: #f2f2f2;
}

.brand {
  float: left;
  height: 46px;
  line-height: 46px;
  color: #fff;
  font-size: 14px;

  > img {
    max-width: 100%;
    margin-right: 5px;
  }
}

.star {
  background-color: #696565;
  height: 46px;
  overflow: hidden;

  :global {
    .anticon {
      margin-right: 0;
      font-size: 20px;
      line-height: 44px;
    }
  }
}
