@btn-width: 80px;

.root {
  width: 640px;
  max-width: 100%;
  position: relative;
  margin-bottom: 24px;
  :global {
    .ant-input-prefix {
      margin-right: 80px;
    }
    .ant-input-search-button {
      width: 80px;
    }
    .anticon-close-circle {
      width: 32px;
    }
  }
}
