.root {
  :global {
    .ant-form-item-label,
    .ant-form-item-control {
      line-height: 1;
    }
    .ant-form-item {
      margin-bottom: 8px;
    }
    .ant-tag {
      margin-bottom: 6px;
    }
  }
}
